/* Reset some default styles */
body {
    background-color: #151515;
    color: white; /* Set text color to white for better visibility */
}

h1 {
    font-size: 72px;
    font-family: Arial, sans-serif;
}

/* Style the header section */
.header {
    text-align: center;
    padding: 20px;
    color: white;
}

    .header img {
        max-width: 100%;
        height: auto;
    }

/* Style the main content section */
.main-content {
    text-align: center;
    padding: 40px;
}

    .main-content img {
        max-width: 100%;
        height: auto;
    }

button {
    padding: 20px 50px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #0056b3;
    }
